*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    width: 90%;
    height: 10vh;
    align-items: center;
    margin: auto;
}

button{
    font-family: 'Poppins', sans-serif;
}

.logo-container, .cart, .nav-links{
    display: flex;
}

.logo-container{
    flex: 1;
}

.logo{
    font-weight: 400;
    margin: 5px;
}

nav{
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.cart{
    flex: 1;
    justify-content: flex-end;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction{
    flex: 1;
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta{
    padding: 50px 0px 0px 0px;
}

.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px; 
}

.cta-add{
    background: #c36cbb ;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px; 
    border: none;
    margin: 30px 0px 0px 30px;
}

.cover{
    flex: 1;
    height: 60vh;
    display: flex;
    justify-content: center;
}
.cover img{
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.7;
    height: 80%;
}

.mid-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    opacity: 0.4;
    height: 60%;
}

.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
    opacity: 0.7;
}

.laptop-select{
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.spec-main{
    background: rgba(74, 53, 102, 0.2);
    width: 35%;
    align-items: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    padding: 5px;
    margin-top: 100px;
}

.spec-main h1{
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.spec-main p{
    padding: 15px 15px 15px 15px;
}

.contact-main{
    background: rgba(74, 53, 102, 0.2);
    width: 35%;
    align-items: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    padding: 5px;
    margin-top: 100px;
}

.contact-main h1{
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.contact-main table{
    text-align: center;
    margin: auto;
}

.contact-main th{
    text-align: center;
    margin: 5px 0px 5px 0px;
    padding: 10px;
}

.contact-main td{
    text-align: center;
    margin: 5px 0px 5px 0px;
    padding: 10px;
}

.contact-main input{
    background: transparent;
    border: none;
    border-bottom: solid 2px;
    width: 16rem;
    font-family: 'Poppins', sans-serif;
}

.contact-main input[type="button"]{
    background: #c36cbb ;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px; 
    border: none;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0px 0px 30px;
}

@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column-reverse;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .laptop-select{
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }
    .cover img{
        height: 80%;
    }
    .small-circle, .mid-circle, .big-circle{
        opacity: 0.2;
    }

    .contact-main{
        width: 65%;    
    }

    .contact-main input{
        width: 50vw
    }

    .spec-main{
        width: 70%;
    }
}

@media (max-width: 800px){
    .contact-main input{
        width: 40vw
    }
}

